{% comment %}<!--
###############################################################################
# Copyright 2012 Grigoriy Kramarenko.
###############################################################################
# This file is part of Barbaris.
#
#    Barbaris is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    Barbaris is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with Barbaris.  If not, see <http://www.gnu.org/licenses/>.
#
# Этот файл — часть Barbaris.
#
#   Barbaris - свободная программа: вы можете перераспространять ее и/или
#   изменять ее на условиях Стандартной общественной лицензии GNU в том виде,
#   в каком она была опубликована Фондом свободного программного обеспечения;
#   либо версии 3 лицензии, либо (по вашему выбору) любой более поздней
#   версии.
#
#   Barbaris распространяется в надежде, что она будет полезной,
#   но БЕЗО ВСЯКИХ ГАРАНТИЙ; даже без неявной гарантии ТОВАРНОГО ВИДА
#   или ПРИГОДНОСТИ ДЛЯ ОПРЕДЕЛЕННЫХ ЦЕЛЕЙ. Подробнее см. в Стандартной
#   общественной лицензии GNU.
#
#   Вы должны были получить копию Стандартной общественной лицензии GNU
#   вместе с этой программой. Если это не так, см.
#   <http://www.gnu.org/licenses/>.
###############################################################################

-->{% endcomment %}

{% load pytils_numeral %}

{% block print_logo %}
    <div class="align-right"><img src="{{ STATIC_URL }}img/logo.png"></div>
    <hr class="soften">
{% endblock %}

{% block print_title %}
<h2>{{ document.document }} №{{ document.id }} от {{ document.date|date:"DATE_FORMAT" }}</h2>
<hr>
{% endblock %}

{% block print_header_requisites %}
<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <div class="span2 align-right">Исполнитель:</div>
      <div class="span10"><strong>{% block print_supplier_header %}{{ supplier.detail.get_string_requsites }}{% endblock %}</strong></div>
    </div>
    <div class="row-fluid"><div class="span12"></div></div>
    <div class="row-fluid">
      <div class="span2 align-right">Заказчик:</div>
      <div class="span10"><strong>{% block print_client_header %}{{ document.order.person }}{% endblock %}</strong></div>
    </div>
    <div class="row-fluid"><div class="span12"></div></div>
  </div>
</div>
{% endblock %}

{% block print_table %}
<table class="table table-condensed table-bordered">
    <thead>{% block print_table_thead %}{% endblock %}</thead>
    <tbody>{% block print_table_tbody %}{% endblock %}</tbody>
    <tfoot>{% block print_table_tfoot %}{% endblock %}</tfoot>
</table>
{% endblock %}

{% block print_table_legend %}{% endblock %}

{% block print_text %}{% endblock %}

{% block print_footer_requisites %}
<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <div class="span1 align-left">Исполнитель:</div>
      <div class="span5 align-right signature">{% block print_supplier_footer %}{{ supplier.owner }}{% endblock %}</div>
      <div class="span1 align-left">Заказчик:</div>
      <div class="span5 align-right signature">{% block print_client_footer %}{{ document.order.person }}{% endblock %}</div>
    </div>
  </div>
</div>
{% endblock %}


