{% comment %}<!--
###############################################################################
# Copyright 2012 Grigoriy Kramarenko.
###############################################################################
# This file is part of Barbaris.
#
#    Barbaris is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    Barbaris is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with Barbaris.  If not, see <http://www.gnu.org/licenses/>.
#
# Этот файл — часть Barbaris.
#
#   Barbaris - свободная программа: вы можете перераспространять ее и/или
#   изменять ее на условиях Стандартной общественной лицензии GNU в том виде,
#   в каком она была опубликована Фондом свободного программного обеспечения;
#   либо версии 3 лицензии, либо (по вашему выбору) любой более поздней
#   версии.
#
#   Barbaris распространяется в надежде, что она будет полезной,
#   но БЕЗО ВСЯКИХ ГАРАНТИЙ; даже без неявной гарантии ТОВАРНОГО ВИДА
#   или ПРИГОДНОСТИ ДЛЯ ОПРЕДЕЛЕННЫХ ЦЕЛЕЙ. Подробнее см. в Стандартной
#   общественной лицензии GNU.
#
#   Вы должны были получить копию Стандартной общественной лицензии GNU
#   вместе с этой программой. Если это не так, см.
#   <http://www.gnu.org/licenses/>.
###############################################################################

-->{% endcomment %}

{% load pytils_numeral %}
{% block extrastyle %}
<style type="text/css">
    div.document {
        font-size: 14pt;
    }
</style>
{% endblock %} 

<div class="row-fluid">
    <div class="span12 align-center">КАРТОЧКА ОРГАНИЗАЦИИ</div>
</div>
<h1 class="align-center">{{ document }}</h1>
<br>
<div class="signature">1. Название <strong>{{ document.fulltitle }}</strong></div>
<br>
<div class="signature">2. ИНН <strong>{{ document.inn }}</strong></div>
<br>
<div class="signature">3. КПП <strong>{{ document.kpp }}</strong></div>
<br>
<div class="signature">4. ОГРН <strong>{{ document.ogrn }}</strong></div>
<br>
<div class="signature">5. Адрес <strong>{{ document.address }}</strong></div>
<br>
<div class="signature">6. Телефоны <strong>{{ document.phones }}</strong></div>
<br>

<div class="signature">7. Документ-основание: вид <strong>{{ document.get_document_type_display }}</strong></div>
<br>
<div class="row-fluid signature">
    <div class="span3">серия <strong>{{ document.document_series }}</strong></div>
    <div class="span3">номер <strong>{{ document.document_number }}</strong></div>
    <div class="span6">выдан <strong>{{ document.document_date }}</strong></div>
</div>
<br>
<div class="row-fluid signature">
    <div class="span10">орган, выдавший документ <strong>{{ document.document_organ }}</strong></div>
    <div class="span2">код <strong>{{ document.document_code }}</strong></div>
</div>
<br>
<br>

<div class="signature">8. Банковские реквизиты: БИК <strong>{{ document.bank_bik }}</strong></div>
<br>
<div class="signature">банк <strong>{{ document.bank_title }}</strong></div>
<br>
<div class="signature">расчётный счёт <strong>{{ document.bank_set_account }}</strong></div>
<br>
<div class="signature">кор./счёт <strong>{{ document.bank_cor_account }}</strong></div>
