{% extends "printforms/_standart.html" %}{% comment %}<!--
###############################################################################
# Copyright 2012 Grigoriy Kramarenko.
###############################################################################
# This file is part of Barbaris.
#
#    Barbaris is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    Barbaris is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with Barbaris.  If not, see <http://www.gnu.org/licenses/>.
#
# Этот файл — часть Barbaris.
#
#   Barbaris - свободная программа: вы можете перераспространять ее и/или
#   изменять ее на условиях Стандартной общественной лицензии GNU в том виде,
#   в каком она была опубликована Фондом свободного программного обеспечения;
#   либо версии 3 лицензии, либо (по вашему выбору) любой более поздней
#   версии.
#
#   Barbaris распространяется в надежде, что она будет полезной,
#   но БЕЗО ВСЯКИХ ГАРАНТИЙ; даже без неявной гарантии ТОВАРНОГО ВИДА
#   или ПРИГОДНОСТИ ДЛЯ ОПРЕДЕЛЕННЫХ ЦЕЛЕЙ. Подробнее см. в Стандартной
#   общественной лицензии GNU.
#
#   Вы должны были получить копию Стандартной общественной лицензии GNU
#   вместе с этой программой. Если это не так, см.
#   <http://www.gnu.org/licenses/>.
###############################################################################

-->{% endcomment %}

{% load pytils_numeral %}

{% block print_logo %}
<div class="row-fluid">
    <div class="span2"></div>
    <div class="span8 align-center">
        {{ supplier.fulltitle }}
        <br>Адрес: {{ supplier.address }}
        <br>
        ИНН {{ supplier.inn }}
        ОГРНИП {{ supplier.ogrn }}
        <br>{{ supplier.get_document_type_display }}
        серия {{ supplier.document_series }}
        №{{ supplier.document_number }} от {{ supplier.document_date }} 
    </div>
    <div class="span2"></div>
</div>
<h1 class="align-center">{{ supplier.title|upper }}</h1>
{% endblock %}

{% block print_title %}
<h3 class="align-center">{{ document.document }} №{{ document.id }} от {{ document.date|date:"DATE_FORMAT" }}</h3>
{% endblock %}

{% block print_header_requisites %}
<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <div class="span12"><h3><small>Гость: </small>{{ document.client }}</h3></div>
    </div>
<!--
    <div class="row-fluid"><div class="span12"></div></div>
-->
    <div class="row-fluid">
      <div class="span2"><h3><small>№ комнаты: </small>{{ document.order.numbers }}</h3></div>
      <div class="span4"><h3><small>Заезд: </small>{{ document.order.start }}</h3></div>
      <div class="span4"><h3><small>Количество человек: _____</div>
    </div>
    <div class="row-fluid"><div class="span12"></div></div>
  </div>
</div>
{% endblock %}

{% block print_table_thead %}
<tr>
    <th class="span1 align-center">№ п/п</th>
    <th class="span6 align-center">Виды платежей</th>
    <th class="span1 align-center">Единица</th>
    <th class="span1 align-center">Кол-во</th>
    <th class="span1 align-center">Цена, руб.</th>
    <th class="span2 align-center">Сумма, руб.</th>
</tr>
{% endblock %}

{% block print_table_tbody %}
    <tr>
        <td rowspan="3" class="span1 align-center">1</td>
        <td class="span6 align-left">Проживание в гостинице</td>
        <td class="span1 align-center"></td>
        <td class="span1 align-center"></td>
        <td class="span1 align-right"></td>
        <td class="span2 align-right"></td>
    </tr>
    <tr>
        <td class="span6 align-left">с {{ document.order.start }}</td>
        <td class="span1 align-center"></td>
        <td class="span1 align-center"></td>
        <td class="span1 align-right"></td>
        <td class="span2 align-right"></td>
    </tr>
    <tr>
        <td class="span6 align-left">по {{ document.order.end }}</td>
        <td class="span1 align-center"></td>
        <td class="span1 align-center"></td>
        <td class="span1 align-right">{{ document.order.summa_for_client }}</td>
        <td class="span2 align-right">{{ document.order.summa_for_client }}</td>
    </tr>
    <tr>
        <td rowspan="2" class="span1 align-center">2</td>
        <td class="span6 align-left">Дополнительно</td>
        <td class="span1 align-center">к/с</td>
        <td class="span1 align-center"></td>
        <td class="span1 align-right"></td>
        <td class="span2 align-right"></td>
    </tr>
    <tr>
        <td class="span6 align-left"></td>
        <td class="span1 align-center">к/с</td>
        <td class="span1 align-center"></td>
        <td class="span1 align-right"></td>
        <td class="span2 align-right"></td>
    </tr>
{% endblock %}

{% block print_table_tfoot %}
    <tr>
        <td></td>
        <td colspan="4" class="span6 align-right"><strong>ИТОГО стоимость услуги:</strong></td>
        <td class="span2 align-right"><strong>{{ document.order.summa_for_client }}</strong></td>
    </tr>
{% endblock %}

{% block print_table_legend %}
<div>Итого получено по счёту: <strong>{{ document.order.summa_for_client|rubles }}</strong></div>
<hr>
<div>Дата осуществления расчёта: <strong>{{ document.date }}</strong></div>
<hr>
{% endblock %}

{% block print_footer_requisites %}
<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <div class="span3 align-left"><strong>Дежурный администратор:</strong></div>
      <div class="span7 signature">{{ document.user.get_full_name }}</div>
      <div class="span2 align-center">М.П.</div>
    </div>
  </div>
</div>
{% endblock %}

