{% comment %}<!--
###############################################################################
# Copyright 2012 Grigoriy Kramarenko.
###############################################################################
# This file is part of Barbaris.
#
#    Barbaris is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    Barbaris is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with Barbaris.  If not, see <http://www.gnu.org/licenses/>.
#
# Этот файл — часть Barbaris.
#
#   Barbaris - свободная программа: вы можете перераспространять ее и/или
#   изменять ее на условиях Стандартной общественной лицензии GNU в том виде,
#   в каком она была опубликована Фондом свободного программного обеспечения;
#   либо версии 3 лицензии, либо (по вашему выбору) любой более поздней
#   версии.
#
#   Barbaris распространяется в надежде, что она будет полезной,
#   но БЕЗО ВСЯКИХ ГАРАНТИЙ; даже без неявной гарантии ТОВАРНОГО ВИДА
#   или ПРИГОДНОСТИ ДЛЯ ОПРЕДЕЛЕННЫХ ЦЕЛЕЙ. Подробнее см. в Стандартной
#   общественной лицензии GNU.
#
#   Вы должны были получить копию Стандартной общественной лицензии GNU
#   вместе с этой программой. Если это не так, см.
#   <http://www.gnu.org/licenses/>.
###############################################################################

-->{% endcomment %}

{% load i18n base_extras %}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Информация о номере {{ object.num }}</h3>
</div>
<div class="modal-body">
    <div class="control-group">
        <table id="table-specifications" class="table table-condensed">
            <thead>
                <tr>
                    <th class=""><span>Заказ</span></th>
                    <th class=""><span>Персона</span></th>
                    <th class="input-small"><span class="pull-right">Заезд</span></th>
                    <th class="input-small"><span class="pull-right">Выезд</span></th>
                    <th class=""><span class="pull-right"></span></th>
                </tr>
            </thead>
            <tbody>
            {% if object.current_order %}
                <tr id="order_{{ object.current_order.id }}">
                    <td><span>{{ object.current_order.id }}</span></td>
                    {% if object.current_order.persons.count %}
                        <td>
                            {% for person in object.current_order.persons.all %}
                            <p>{{ person }}</p>
                            {% endfor %}
                        </td>
                    {% else %}
                        <td><span class="badge badge-important">Установиете клиента!!!</span></td>
                    {% endif %}
                    <td><span class="pull-right">{% room_start object object.current_order %}</span></td>
                    <td><span class="pull-right">{% room_end object object.current_order %}</span></td>
                    <td><span class="pull-right">
                        <a href="{% url order_detail object.current_order.id %}">
                            <i class="icon-edit" title="Изменение заказа"></i>
                        </a>
                    </span></td>
                </tr>
            {% endif %}
            {% for order in object.next_orders %}
                <tr id="order_{{ order.id }}">
                    <td><span>{{ order.id }}</span></td>
                    {% if order.persons.count %}
                        <td>
                            {% for person in order.persons.all %}
                            <p>{{ person }}</p>
                            {% endfor %}
                        </td>
                    {% else %}
                        <td><span class="badge badge-important">Установиете клиента!!!</span></td>
                    {% endif %}
                    <td><span class="pull-right">{% room_start object order %}</span></td>
                    <td><span class="pull-right">{% room_end object order %}</span></td>
                    <td><span class="pull-right">
                        <a href="{% url order_detail order.id %}">
                            <i class="icon-edit" title="Изменение заказа"></i>
                        </a>
                    </span></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Закрыть</a>
</div>
