{% comment %}<!--
###############################################################################
# Copyright 2012 Grigoriy Kramarenko.
###############################################################################
# This file is part of Barbaris.
#
#    Barbaris is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    Barbaris is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with Barbaris.  If not, see <http://www.gnu.org/licenses/>.
#
# Этот файл — часть Barbaris.
#
#   Barbaris - свободная программа: вы можете перераспространять ее и/или
#   изменять ее на условиях Стандартной общественной лицензии GNU в том виде,
#   в каком она была опубликована Фондом свободного программного обеспечения;
#   либо версии 3 лицензии, либо (по вашему выбору) любой более поздней
#   версии.
#
#   Barbaris распространяется в надежде, что она будет полезной,
#   но БЕЗО ВСЯКИХ ГАРАНТИЙ; даже без неявной гарантии ТОВАРНОГО ВИДА
#   или ПРИГОДНОСТИ ДЛЯ ОПРЕДЕЛЕННЫХ ЦЕЛЕЙ. Подробнее см. в Стандартной
#   общественной лицензии GNU.
#
#   Вы должны были получить копию Стандартной общественной лицензии GNU
#   вместе с этой программой. Если это не так, см.
#   <http://www.gnu.org/licenses/>.
###############################################################################

-->{% endcomment %}

{% load i18n base_extras %}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Заказ №{{ object.id }} от {{ object.updated|date:"DATE_FORMAT"}}</h3>
</div>
<div class="modal-body">
    <div class="control-group">
        <table id="table-specifications" class="table table-condensed">
            <thead>
                <tr>
                    <th class=""><span>Услуга</span></th>
                    <th class="input-mini"><span class="pull-right">Цена</span></th>
                    <th class="input-mini"><span class="pull-right">Кол-во</span></th>
                    <th class="input-mini"><span class="pull-right">Бронь</span></th>
                    <th class="input-mini"><span class="pull-right">Сумма</span></th>
                    <th class="input-mini"><span>Начало</span></th>
                    <th class="input-mini"><span>Оконч.</span></th>
                </tr>
            </thead>
            <tbody>
            {% for sp in object.specification_set.all %}
                <tr id="specification_{{ sp.id }}">
                    <td><span>{{ sp.price.service.title }} {{ sp.room.num|default:'' }}</span></td>
                    <td><span class="pull-right">{{ sp.price.price }}</span></td>
                    <td><span class="pull-right">{{ sp.count }}</span></td>
                    <td><span class="pull-right">{{ sp.summa_markup|default:'' }}</span></td>
                    <td><span class="pull-right">{{ sp.summa }}</span></td>
                    <td><span>{{ sp.start|date:'d.m.y H:i' }}</span></td>
                    <td><span>{{ sp.end|date:'d.m.y H:i' }}</span></td>
                    
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Закрыть</a>
</div>
