/* PRINT PAGE
###############################################################################
# Copyright 2012 Grigoriy Kramarenko.
###############################################################################
# This file is part of Barbaris.
#
#    Barbaris is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    Barbaris is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with Barbaris.  If not, see <http://www.gnu.org/licenses/>.
#
# Этот файл — часть Barbaris.
#
#   Barbaris - свободная программа: вы можете перераспространять ее и/или
#   изменять ее на условиях Стандартной общественной лицензии GNU в том виде,
#   в каком она была опубликована Фондом свободного программного обеспечения;
#   либо версии 3 лицензии, либо (по вашему выбору) любой более поздней
#   версии.
#
#   Barbaris распространяется в надежде, что она будет полезной,
#   но БЕЗО ВСЯКИХ ГАРАНТИЙ; даже без неявной гарантии ТОВАРНОГО ВИДА
#   или ПРИГОДНОСТИ ДЛЯ ОПРЕДЕЛЕННЫХ ЦЕЛЕЙ. Подробнее см. в Стандартной
#   общественной лицензии GNU.
#
#   Вы должны были получить копию Стандартной общественной лицензии GNU
#   вместе с этой программой. Если это не так, см.
#   <http://www.gnu.org/licenses/>.
###############################################################################
*/

.navbar, .subnav, header, footer, .btn {display: none;}
body {background:#FFF; color:#000;}
a {text-decoration: underline; color:#00F;}

div.document { 
    display: block; 
    background-color: #FFFFFF;
    border: none;
    border-radius: none;
    box-shadow: none;
    margin-bottom: 0;
    min-height: 0;
    padding: 0;
}

hr {
    border: 1px solid #000000;
}

.table {
    position: relative;
    width: 99.8%;
    left: 0.1%;
    right: auto;
    border: 1px solid #000000;
}

th, td {
    border: 1px solid #000000;
}

.table-bordered th, .table-bordered td {
    border-left: 0;
    border-top: 0;
}

.table-bordered th:first-child, .table-bordered td:first-child {
    border-left: 1px solid #000000;
}

.table-bordered caption + thead tr:first-child th, 
.table-bordered caption + tbody tr:first-child th, 
.table-bordered caption + tbody tr:first-child td, 
.table-bordered colgroup + thead tr:first-child th, 
.table-bordered colgroup + tbody tr:first-child th, 
.table-bordered colgroup + tbody tr:first-child td, 
.table-bordered thead:first-child tr:first-child th, 
.table-bordered tbody:first-child tr:first-child th, 
.table-bordered tbody:first-child tr:first-child td {
    border-top: 1px solid #000000;
}
