{% comment %}<!--
###############################################################################
# Copyright 2012 Grigoriy Kramarenko.
###############################################################################
# This file is part of Barbaris.
#
#    Barbaris is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    Barbaris is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with Barbaris.  If not, see <http://www.gnu.org/licenses/>.
#
# Этот файл — часть Barbaris.
#
#   Barbaris - свободная программа: вы можете перераспространять ее и/или
#   изменять ее на условиях Стандартной общественной лицензии GNU в том виде,
#   в каком она была опубликована Фондом свободного программного обеспечения;
#   либо версии 3 лицензии, либо (по вашему выбору) любой более поздней
#   версии.
#
#   Barbaris распространяется в надежде, что она будет полезной,
#   но БЕЗО ВСЯКИХ ГАРАНТИЙ; даже без неявной гарантии ТОВАРНОГО ВИДА
#   или ПРИГОДНОСТИ ДЛЯ ОПРЕДЕЛЕННЫХ ЦЕЛЕЙ. Подробнее см. в Стандартной
#   общественной лицензии GNU.
#
#   Вы должны были получить копию Стандартной общественной лицензии GNU
#   вместе с этой программой. Если это не так, см.
#   <http://www.gnu.org/licenses/>.
###############################################################################

-->{% endcomment %}
{% load i18n base_extras %}<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="{{ STATIC_URL }}img/favicon.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}АИС Барбарис{% endblock %}</title>
        {% block extrahead %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/docs.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/application.css" />
        {% block extrastyle %}{% endblock %}
    </head>
    <body data-offset="50" data-target=".subnav" data-spy="scroll" class="{% block bodyclass %}home{% endblock %}">
        <!-- START: navbar -->
        {% block navbar %}{% include "navigator.html" %}{% endblock %}
        <!-- END: navbar -->
        
        <div class="container">
            <!-- START: header -->
            {% block header %}
            <header id="header">
                <div class="row">
                    <div class="span7">
                        <h1>{% block page_name %}BASE TEMPLATE{% endblock %}</h1>
                    </div>
                    <div class="span5">
                        <div class="pull-right">
                            
                        </div>
                    </div>
                </div>
                <!-- START: subnav -->
                {% block subnav %}
                <div class="subnav">
                    <ul class="nav nav-pills">
                        <!-- START: search -->
                        {% block search %}
                        <li class="">
                            <form id="form-search" class="form-search" action="" method="get">
                                <fieldset>
                                    <div class="control-group">
                                        <div class="controls">
                                            <div class="input-append">
                                                <input id="search" value="{{ query }}" name="query" type="text" class="input-large" placeholder="{% block search_placeholder %}Найти{% endblock %}" />
                                                <button id="search-submit" type="submit" class="btn">&rang;</button>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </li>
                        {% endblock %}
                        <!-- END: search -->
                        <!-- START: subnav_content -->
                        {% block subnav_content %}{% endblock %}
                        <!-- END: subnav_content -->
                    </ul>
                </div>
                {% endblock %}
                <!-- END: subnav -->
                <div style="clear:both;"></div>
            <hr class="soften">
            </header>
            {% endblock %}
            <!-- END: header -->
            
            
            
            <!-- START: content -->
            {% block content %}{% endblock %}
            <!-- END: content -->
            <!-- START: paginator -->
            {% block paginator %}{% include "paginator.html" %}{% endblock %}
            <!-- END: paginator -->
            <!-- START: footer -->
            {% block footer %}
            <footer class="footer">
<!--
                <p class="pull-right"><a href="#">Наверх</a></p>
-->
            </footer>
            {% endblock %}
            <!-- END: footer -->
        </div><!-- /container -->
        
        {% block modals %}
        <!-- START: modalUser -->
        {% include "modalUser.html" %}
        <!-- END: modalUser -->
        <!-- START: modalOrder -->
        {% include "modalOrder.html" %}
        <!-- END: modalOrder -->
        {% endblock %}
    
    
    <!-- START: javascript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-transition.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-alert.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-scrollspy.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-popover.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-button.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-carousel.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-typeahead.js"></script>
    <script src="{{ STATIC_URL }}js/application.js"></script>
    {% block extrajs %}{% endblock %}
    <!-- END: javascript -->
    </body>
</html>
