{% load i18n %}<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="{{ STATIC_URL }}img/favicon.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}АИС Барбарис{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/docs.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/application.css" />
        {% block extrastyle %}{% endblock %}
    </head>
    <body data-offset="50" data-target=".subnav" data-spy="scroll" class="{% block bodyclass %}home{% endblock %}">
        <!-- START: navbar -->
        {% block navbar %}{% include "navigator.html" %}{% endblock %}
        <!-- END: navbar -->
        
        <div class="container">
            <!-- START: header -->
            {% block header %}
            <header>
                <div class="row">
                    <div class="span7">
                        <h1>{% block page_name %}BASE TEMPLATE{% endblock %}</h1>
                    </div>
                    <div class="span5">
                        <div class="pull-right">
                            <!-- START: search -->
                            {% block search %}
                            <form id="form-search" class="form-search">
                                <fieldset>
                                    <div class="control-group">
                                        <div class="controls">
                                            <div class="input-append">
                                                <input id="search" name="query" type="text" class="input-large" placeholder="{% block search_placeholder %}Найти{% endblock %}" />
                                                <button id="search-submit" type="submit" class="btn">&rang;</button>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                            {% endblock %}
                            <!-- END: search -->
                        </div>
                    </div>
                </div>
                <!-- START: subnav -->
                {% block subnav %}{% endblock %}
                <!-- END: subnav -->
            </header>
            {% endblock %}
            <!-- END: header -->
            <!-- START: content -->
            {% block content %}{% endblock %}
            <!-- END: content -->
            <!-- START: footer -->
            {% block footer %}
            <footer class="footer">
                <p class="pull-right"><a href="#navbar">Наверх</a></p>
            </footer>
            {% endblock %}
            <!-- END: footer -->
        </div><!-- /container -->
        
        {% block modals %}
        <!-- START: modalLogout -->
        {% include "modalUser.html" %}
        <!-- END: modalLogout -->
        {% endblock %}
    
    
    <!-- START: javascript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-transition.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-alert.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-scrollspy.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-popover.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-button.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-carousel.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-typeahead.js"></script>
    <script src="{{ STATIC_URL }}js/application.js"></script>
    {% block extrajs %}{% endblock %}
    <!-- END: javascript -->
    </body>
</html>
