{% extends 'base.html' %}
{% comment %}<!--
###############################################################################
# Copyright 2012 Grigoriy Kramarenko.
###############################################################################
# This file is part of Barbaris.
#
#    Barbaris is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    Barbaris is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with Barbaris.  If not, see <http://www.gnu.org/licenses/>.
#
# Этот файл — часть Barbaris.
#
#   Barbaris - свободная программа: вы можете перераспространять ее и/или
#   изменять ее на условиях Стандартной общественной лицензии GNU в том виде,
#   в каком она была опубликована Фондом свободного программного обеспечения;
#   либо версии 3 лицензии, либо (по вашему выбору) любой более поздней
#   версии.
#
#   Barbaris распространяется в надежде, что она будет полезной,
#   но БЕЗО ВСЯКИХ ГАРАНТИЙ; даже без неявной гарантии ТОВАРНОГО ВИДА
#   или ПРИГОДНОСТИ ДЛЯ ОПРЕДЕЛЕННЫХ ЦЕЛЕЙ. Подробнее см. в Стандартной
#   общественной лицензии GNU.
#
#   Вы должны были получить копию Стандартной общественной лицензии GNU
#   вместе с этой программой. Если это не так, см.
#   <http://www.gnu.org/licenses/>.
###############################################################################

-->{% endcomment %}

{% load i18n base_extras %}

{% block page_name %}Клиенты{% endblock %}

{% block subnav_content %}
<li>
    <a href="#persons">Персоналии</a>
</li>
<li>
    <a href="{% url person_detail 0 %}" title="Добавить персону"><i class="icon-plus"></i></a>
</li>
<li>
    <a href="#orgs">Организации</a>
</li>
<li>
    <a href="{% url org_detail 0 %}" title="Добавить организацию"><i class="icon-plus"></i></a>
</li>
{% endblock %}

{% block content %}
{% if persons.object_list %}
    <section id="persons">
        <div class="page-header">
            <h3>Персоналии</h3>
        </div>
        <div class="row-fluid">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>ФИО</th>
                        <th>Организация</th>
                        <th class="input-large">Телефоны</th>
                        <th class="input-mini">Действия</th>
                    </tr>
                </thead>
                <tbody>
                {% for person in persons.object_list %}
                    <tr>
                        <td>{{ person }}</td>
                        <td>{{ person.org|default:"" }}</td>
                        <td class="input-large">{{ person.phones }}</td>
                        <td class="input-mini">
<!--
                            <a href="{% url person_detail person.id %}">
                                <i class="icon-eye-open" title="Быстрый просмотр"></i>
                            </a>
-->
                            <a href="{% url person_detail person.id %}">
                                <i class="icon-edit" title="Редактировать карточку клиента"></i>
                            </a>
                            <a href="{% url order_list_client 'person' person.id %}">
                                <i class="icon-list" title="Список заказов клиента"></i>
                            </a>
                            <a href="{% url order_new person.id %}">
                                <i class="icon-plus" title="Новый заказ для этого клиента"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <hr />
        </div>
    </section>
    <ul class="pager">
    {% if persons.has_previous %}
        <li class="previous">
            <a href="{% addGET request 'page_persons' persons.previous_page_number %}">&larr; Предыдущие</a>
        </li>
    {% endif %}
    {% if persons.has_next %}
        <li class="next">
            <a href="{% addGET request 'page_persons' persons.next_page_number %}">Следующие &rarr;</a>
        </li>
    {% endif %}
    </ul>
{% endif %}

{% if orgs.object_list %}
    <section id="orgs">
        <div class="page-header">
            <h3>Организации</h3>
        </div>
        <div class="row-fluid">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Краткое название</th>
                        <th>Полное название</th>
                        <th class="input-small">ИНН</th>
                        <th class="input-mini">Действия</th>
                    </tr>
                </thead>
                <tbody>
                {% for org in orgs.object_list %}
                    <tr>
                        <td>{{ org }}</td>
                        <td>{{ org.detail.fulltitle }}</td>
                        <td class="input-small">{{ org.detail.inn }}</td>
                        <td class="input-mini">
                            <a href="{% url org_detail org.id %}">
                                <i class="icon-edit" title="Редактировать карточку организации"></i>
                            </a>
                            <a href="{% url order_list_client 'org' org.id %}">
                                <i class="icon-list" title="Список заказов организации"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <hr />
        </div>    </section>
    <ul class="pager">
    {% if orgs.has_previous %}
        <li class="previous">
            <a href="{% addGET request 'page_orgs' orgs.previous_page_number %}">&larr; Предыдущие</a>
        </li>
    {% endif %}
    {% if orgs.has_next %}
        <li class="next">
            <a href="{% addGET request 'page_orgs' orgs.next_page_number %}">Следующие &rarr;</a>
        </li>
    {% endif %}
    </ul>
{% endif %}
{% endblock %}


