{% load i18n %}
<div class="modal hide fade" id="modalOrder" style="display: none;">
    <div class="modal-header">
        <button data-dismiss="modal" class="close" type="button">×</button>
        <h3>Подробности заказа №<span class="order_id">0</span></h3>
    </div>
    <form id="form-change-user" class="form" action="/" method="post">{% csrf_token %}
        <fieldset>
            <div class="modal-body">
                <div class="control-group">
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn">Закрыть</button>
                <button id="form-change-user-submit" class="btn btn-primary" type="submit">Сохранить</button>
            </div>
        </fieldset>
    </form>
</div>
