{% comment %}<!--
###############################################################################
# Copyright 2012 Grigoriy Kramarenko.
###############################################################################
# This file is part of Barbaris.
#
#    Barbaris is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    Barbaris is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with Barbaris.  If not, see <http://www.gnu.org/licenses/>.
#
# Этот файл — часть Barbaris.
#
#   Barbaris - свободная программа: вы можете перераспространять ее и/или
#   изменять ее на условиях Стандартной общественной лицензии GNU в том виде,
#   в каком она была опубликована Фондом свободного программного обеспечения;
#   либо версии 3 лицензии, либо (по вашему выбору) любой более поздней
#   версии.
#
#   Barbaris распространяется в надежде, что она будет полезной,
#   но БЕЗО ВСЯКИХ ГАРАНТИЙ; даже без неявной гарантии ТОВАРНОГО ВИДА
#   или ПРИГОДНОСТИ ДЛЯ ОПРЕДЕЛЕННЫХ ЦЕЛЕЙ. Подробнее см. в Стандартной
#   общественной лицензии GNU.
#
#   Вы должны были получить копию Стандартной общественной лицензии GNU
#   вместе с этой программой. Если это не так, см.
#   <http://www.gnu.org/licenses/>.
###############################################################################

-->{% endcomment %}
{% load i18n base_extras %}
<div class="row-fluid">
    <div class="span10"><h3>Счета и оплаты</h3></div>
    <div class="span2">
        {% if order.invoice_set.count < order.persons.count %}
        <form class="form-horizontal" action="" method="post">{% csrf_token %}
            <fieldset class="pull-right">
                <input type="hidden" name='invoice_add' value="" />
                <button type="submit" class="btn">Создать счёт</button>
            </fieldset>
        </form>
        {% endif %}
    </div>
</div>

{% if order.is_divdoc %}
<h6>
    включена функция автоматического деления суммы на количество персон в заказе
</h6>
{% endif %}

{% if not order.persons.count %}
<h6>
    Отсутствуют персоны. Добавление счёта невозможно!
</h6>
{% endif %}

<hr>
{% for invoice in order.invoices %}
<div class="row-fluid">
    <div class="span10">
        <h5>Оплаты по счёту №{{ invoice.id }} от {{ invoice.date|date:"DATE_FORMAT"}}
            <small>{{ invoice.person|default:"Установите персону!" }}</small>
        </h5>
        {% if invoice.comment %}
        <p>{{ invoice.comment }}</p>
        {% endif %}
        {% get_credit order %}
    </div>
        <div class="span2">
            <form class="form-horizontal" action="" method="post">{% csrf_token %}
                <fieldset class="pull-right">
                {% if not order.state_close %}
                    <a href="#" data-toggle="_modal_invoice_delete_{{ invoice.id }}_" class="btn btn-mini">
                        <i class="icon-trash" title="Удалить"></i>
                    </a>
                    <a href="#" data-toggle="_modal_invoice_change_{{ invoice.id }}_" class="btn btn-mini">
                        <i class="icon-edit" title="Изменить"></i>
                    </a>
                
                    <input type="hidden" name='payment_add' value="{{ invoice.id }}" />
                    <input type="hidden" name='id' value="{{ invoice.id }}" />
                    <button type="submit" class="btn btn-mini" title="Добавить оплату этого счёта"><i class="icon-plus"></i></button>
                {% endif %}
                    <a href="{% url invoice_print invoice.id %}" class="btn btn-mini">
                        <i class="icon-print" title="Печать"></i>
                    </a>
                </fieldset>
            </form>
        </div>
</div>

<table id="table-payments" class="table table-condensed">
    <thead>
        <tr>
            <th class="input-medium"><span>Дата</span></th>
            <th class=""><span>Комментарий</span></th>
            <th class="input-small"><span>Расчёт</span></th>
            <th class="input-mini"><span class="pull-right">Сумма</span></th>
            <th class="input-medium"><span>Принял</span></th>
            <th class="input-mini"><span class="pull-right">Действия</span></th>
        </tr>
    </thead>
    <tbody>
    {% for payment in invoice.payment_set.all %}
        <tr id="payment_{{ payment.id }}"{% if payment.is_paid %} class="muted"{% endif %}>
            <td><span>{{ payment.updated|date:"DATE_FORMAT" }}</span></td>
            <td><span>{{ payment.comment }}</span></td>
            <td><span>{{ payment.get_payment_display }}</span></td>
            <td><span class="pull-right">{{ payment.summa }}</span></td>
            <td><span>{% short_username payment.user %}</span></td>
            <td><span class="pull-right">
            {% if not payment.is_paid %}
                <a href="#" data-toggle="_modal_payment_delete_{{ payment.id }}_">
                    <i class="icon-trash" title="Удалить"></i>
                </a>
                <a href="#" data-toggle="_modal_payment_change_{{ payment.id }}_">
                    <i class="icon-edit" title="Изменить"></i>
                </a>
            {% else %}
                оплачено
            {% endif %}
                </span>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th colspan="3"><span class="pull-right">Итого:</span></th>
            <th><span class="pull-right">{{ invoice.payment }}</span></th>
            <th colspan="2"></th>
        </tr>
    {% if invoice.debet > 0 %}
        <tr>
            <th colspan="3"><span class="pull-right">К оплате:</span></th>
            <th><span class="pull-right">{{ invoice.debet }}</span></th>
            <th colspan="2"></th>
        </tr>
    {% endif %}
    {% if invoice.debet < 0 %}
        <tr>
            <th colspan="3"><span class="pull-right">Переплата:</span></th>
            <th><span class="pull-right">{{ invoice.debet }}</span></th>
            <th colspan="2"></th>
        </tr>
    {% endif %}
    </tfoot>
</table>
{% endfor %}
