{% comment %}<!--
###############################################################################
# Copyright 2012 Grigoriy Kramarenko.
###############################################################################
# This file is part of Barbaris.
#
#    Barbaris is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    Barbaris is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with Barbaris.  If not, see <http://www.gnu.org/licenses/>.
#
# Этот файл — часть Barbaris.
#
#   Barbaris - свободная программа: вы можете перераспространять ее и/или
#   изменять ее на условиях Стандартной общественной лицензии GNU в том виде,
#   в каком она была опубликована Фондом свободного программного обеспечения;
#   либо версии 3 лицензии, либо (по вашему выбору) любой более поздней
#   версии.
#
#   Barbaris распространяется в надежде, что она будет полезной,
#   но БЕЗО ВСЯКИХ ГАРАНТИЙ; даже без неявной гарантии ТОВАРНОГО ВИДА
#   или ПРИГОДНОСТИ ДЛЯ ОПРЕДЕЛЕННЫХ ЦЕЛЕЙ. Подробнее см. в Стандартной
#   общественной лицензии GNU.
#
#   Вы должны были получить копию Стандартной общественной лицензии GNU
#   вместе с этой программой. Если это не так, см.
#   <http://www.gnu.org/licenses/>.
###############################################################################

-->{% endcomment %}
{% load i18n base_extras %}
<div class="row-fluid">
    <div class="span10"><h3>Акты выполненных работ</h3></div>
    <div class="span2">
        {% if not order.state_close %}
        {% if order.act_set.count < order.persons.count %}
        <form class="form-horizontal" action="" method="post">{% csrf_token %}
            <fieldset class="pull-right">
                <input type="hidden" name='act_add' value="" />
                <button type="submit" class="btn">Создать акт</button>
             </fieldset>
        </form>
        {% endif %}
        {% endif %}
    </div>
</div>

{% if not order.persons.count %}
<h6>
    Отсутствуют персоны. Добавление акта невозможно!
</h6>
{% endif %}

<hr>
{% for act in order.acts %}
<div class="row-fluid">
    <div class="span10">
        <h5>Акт выполненных работ №{{ act.id }} от {{ act.date|date:"DATE_FORMAT"}}
            <small>{{ act.person|default:"Установите персону!" }}</small>
        </h5>
    {% if act.comment %}
        <p>{{ act.comment }}</p>
    {% endif %}
    </div>
    <div class="span2">
        <div class="pull-right">
            <a href="#" data-toggle="_modal_act_delete_{{ act.id }}_" class="btn btn-mini">
                <i class="icon-trash" title="Удалить"></i>
            </a>
            <a href="#" data-toggle="_modal_act_change_{{ act.id }}_" class="btn btn-mini">
                <i class="icon-edit" title="Изменить"></i>
            </a>
            <a href="{% url act_print act.id %}" class="btn btn-mini">
                <i class="icon-print" title="Печать"></i>
            </a>
         </div>
    </div>
</div>
{% endfor %}
