{% comment %}<!--
###############################################################################
# Copyright 2012 Grigoriy Kramarenko.
###############################################################################
# This file is part of Barbaris.
#
#    Barbaris is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    Barbaris is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with Barbaris.  If not, see <http://www.gnu.org/licenses/>.
#
# Этот файл — часть Barbaris.
#
#   Barbaris - свободная программа: вы можете перераспространять ее и/или
#   изменять ее на условиях Стандартной общественной лицензии GNU в том виде,
#   в каком она была опубликована Фондом свободного программного обеспечения;
#   либо версии 3 лицензии, либо (по вашему выбору) любой более поздней
#   версии.
#
#   Barbaris распространяется в надежде, что она будет полезной,
#   но БЕЗО ВСЯКИХ ГАРАНТИЙ; даже без неявной гарантии ТОВАРНОГО ВИДА
#   или ПРИГОДНОСТИ ДЛЯ ОПРЕДЕЛЕННЫХ ЦЕЛЕЙ. Подробнее см. в Стандартной
#   общественной лицензии GNU.
#
#   Вы должны были получить копию Стандартной общественной лицензии GNU
#   вместе с этой программой. Если это не так, см.
#   <http://www.gnu.org/licenses/>.
###############################################################################

-->{% endcomment %}

<form class="well form-horizontal" action="" method="post">{% csrf_token %}
    <fieldset>
        <div class="control-group{% if service.active_prices.count < 2 %} hidden{% endif %}">
            <label class="control-label" for="id_{{ service.id }}_{{ form_spec.price.html_name }}">{{ form_spec.price.label }}</label>
            <div class="controls">
                {{ form_spec.price.errors }}
                <select name="{{ form_spec.price.html_name }}" id="id_{{ service.id }}_{{ form_spec.price.html_name }}">
            {% if service.active_prices.count < 2 %}
                {% for price in service.active_prices %}
                    <option value="{{ price.id }}" selected="selected">{{ price }}</option>
                {% endfor %}
            {% else %}
                    <option value="" selected="selected">---------</option>
                {% for price in service.active_prices %}
                    <option value="{{ price.id }}">{{ price }}</option>
                {% endfor %}
            {% endif %}
                </select>
            </div>
        </div>
    {% if service.is_rooms %}
        <div class="control-group">
            <label class="control-label" for="id_{{ service.id }}_{{ form_spec.room.html_name }}">{{ form_spec.room.label }}</label>
            <div class="controls">
                {{ form_spec.room.errors }}
                <select name="{{ form_spec.room.html_name }}" id="id_{{ service.id }}_{{ form_spec.room.html_name }}">
                    {% for room in service.room_set.all %}
                    <option value="{{ room.id }}">{{ room }}</option>
                {% endfor %}
                </select>
            </div>
        </div>
    {% endif %}
        <div class="control-group">
            <label class="control-label" for="id_{{ service.id }}_{{ form_spec.count.html_name }}">{{ form_spec.count.label }}</label>
            <div class="controls">
                {{ form_spec.count.errors }}
                <input type="text" name="{{ form_spec.count.html_name }}" id="id_{{ service.id }}_{{ form_spec.count.html_name }}">
            </div>
        </div>
    {% if service.is_on_time %}
        <div class="control-group">
            <label class="control-label" for="id_{{ service.id }}_{{ form_spec.start.html_name }}">{{ form_spec.start.label }}</label>
            <div class="controls">
                {{ form_spec.start.errors }}
                <input type="text" data-toggle="datetimepicker" name="{{ form_spec.start.html_name }}" id="id_{{ service.id }}_{{ form_spec.start.html_name }}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="id_{{ service.id }}_{{ form_spec.end.html_name }}">{{ form_spec.end.label }}</label>
            <div class="controls">
                {{ form_spec.end.errors }}
                <input type="text" data-toggle="datetimepicker" name="{{ form_spec.end.html_name }}" id="id_{{ service.id }}_{{ form_spec.end.html_name }}">
            </div>
        </div>
    {% endif %}
    
    {% if service.is_reserved %}
        <div class="control-group">
            <label class="control-label" for="id_{{ service.id }}_{{ form_spec.reservation.html_name }}">{{ form_spec.reservation.label }}</label>
            <div class="controls">
                {{ form_spec.reservation.errors }}
                <select name="{{ form_spec.reservation.html_name }}" id="id_{{ service.id }}_{{ form_spec.reservation.html_name }}">
                    <option value="" selected="selected">---------</option>
                {% for reserv in reservations %}
                    <option value="{{ reserv.id }}">{{ reserv }}</option>
                {% endfor %}
                </select>
            </div>
        </div>
    {% endif %}

        <div class="form-actions">
            <input type="hidden" name="specification_add" value="true" />
            <input type="hidden" name="id" value="0" />
            <input type="submit" class="btn btn-primary" value="Добавить в заказ" />
        </div>
    </fieldset>
</form>
