{% extends 'base.html' %}{% comment %}<!--
###############################################################################
# Copyright 2012 Grigoriy Kramarenko.
###############################################################################
# This file is part of Barbaris.
#
#    Barbaris is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    Barbaris is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with Barbaris.  If not, see <http://www.gnu.org/licenses/>.
#
# Этот файл — часть Barbaris.
#
#   Barbaris - свободная программа: вы можете перераспространять ее и/или
#   изменять ее на условиях Стандартной общественной лицензии GNU в том виде,
#   в каком она была опубликована Фондом свободного программного обеспечения;
#   либо версии 3 лицензии, либо (по вашему выбору) любой более поздней
#   версии.
#
#   Barbaris распространяется в надежде, что она будет полезной,
#   но БЕЗО ВСЯКИХ ГАРАНТИЙ; даже без неявной гарантии ТОВАРНОГО ВИДА
#   или ПРИГОДНОСТИ ДЛЯ ОПРЕДЕЛЕННЫХ ЦЕЛЕЙ. Подробнее см. в Стандартной
#   общественной лицензии GNU.
#
#   Вы должны были получить копию Стандартной общественной лицензии GNU
#   вместе с этой программой. Если это не так, см.
#   <http://www.gnu.org/licenses/>.
###############################################################################

-->{% endcomment %}

{% load i18n base_extras %}

{% block page_name %}Акты{% endblock %}

{% block subnav_content %}
{% include "includes/_subnav_date_filter.html" %}
{% endblock %}

{% block content %}
{% if paginator.object_list %}
<table id="table-specifications" class="table table-condensed">
    <thead>
        <tr>
            <th class=""><span>№</span></th>
            <th class=""><span>Персона</span></th>
            <th class=""><span>Организация</span></th>
            <th class=""><span>Дата</span></th>
            <th class=""><span>Комментарий</span></th>
            <th class=""><span>Оператор</span></th>
            <th class=""><span class="pull-right">Действия</span></th>
        </tr>
    </thead>
    <tbody>
    {% for act in paginator.object_list %}
        <tr id="act_{{ act.id }}">
            <td><span>{{ act.id }}</span></td>
            <td><span>{{ act.order.person }}</span></td>
            <td><span>{{ act.order.person.org }}</span></td>
            <td><span>{{ act.date|date:'d.m.y' }}</span></td>
            <td><span>{{ act.comment }}</span></td>
            <td><span>{% short_username act.user %}</span></td>
            <td><span class="pull-right">
                <a href="#" data-toggle="_modal_act_change_{{ act.id }}">
                    <i class="icon-edit" title="Изменить"></i>
                </a>
                <a href="{% url act_print act.id %}" target="_blank">
                    <i class="icon-print" title="Печать"></i>
                </a>
                </span>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}


