{% extends 'base.html' %}{% comment %}<!--
###############################################################################
# Copyright 2012 Grigoriy Kramarenko.
###############################################################################
# This file is part of Barbaris.
#
#    Barbaris is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    Barbaris is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with Barbaris.  If not, see <http://www.gnu.org/licenses/>.
#
# Этот файл — часть Barbaris.
#
#   Barbaris - свободная программа: вы можете перераспространять ее и/или
#   изменять ее на условиях Стандартной общественной лицензии GNU в том виде,
#   в каком она была опубликована Фондом свободного программного обеспечения;
#   либо версии 3 лицензии, либо (по вашему выбору) любой более поздней
#   версии.
#
#   Barbaris распространяется в надежде, что она будет полезной,
#   но БЕЗО ВСЯКИХ ГАРАНТИЙ; даже без неявной гарантии ТОВАРНОГО ВИДА
#   или ПРИГОДНОСТИ ДЛЯ ОПРЕДЕЛЕННЫХ ЦЕЛЕЙ. Подробнее см. в Стандартной
#   общественной лицензии GNU.
#
#   Вы должны были получить копию Стандартной общественной лицензии GNU
#   вместе с этой программой. Если это не так, см.
#   <http://www.gnu.org/licenses/>.
###############################################################################

-->{% endcomment %}

{% load i18n base_extras %}

{% block page_name %}Анализ{% endblock %}

{% block search %}{% endblock %}
{% block subnav_content %}
<li>
    <form id="form-start" class="form-search" action="" method="get">
        <fieldset>
            <div class="control-group">
                <div class="controls">
                    <div class="input-append">
                        <input id="filter_start" value="{{ start|date:"Y-m-d H:i:s" }}" name="start" type="text" class="input-medium" placeholder="Начальная дата" data-toggle="datetimepicker"/>
                        <input id="filter_end" value="{{ end|date:"Y-m-d H:i:s" }}" name="end" type="text" class="input-medium" placeholder="Конечная дата"  data-toggle="datetimepicker"/>
                        <button id="search-submit" type="submit" class="btn">&rang;</button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</li>
{% subnav_filter request 'analyze' %}

{% endblock %}

{% block content %}
<table id="table-analyze" class="table table-condensed">
    <thead>
        <tr>
            <th class=""><span class="">Позиция</span></th>
            <th class="input-mini"><span class="pull-right">Кол-во</span></th>
            <th class="input-small"><span class="pull-right">Сумма</span></th>
            <th class="input-small"><span class="pull-right">Оплачено</span></th>
            <th class="input-small"><span class="pull-right">К оплате</span></th>
        </tr>
    </thead>
    <tbody>
        <tr><th colspan="5"><div align="center">Заказы</div></th></tr>
        <tr>
            <td><span>Всего</span></td>
            <td><span class="pull-right">{{ orders.count }}</span></td>
            <td><span class="pull-right">{{ orders_summ }}</span></td>
            <td><span class="pull-right">{{ orders_payment }}</span></td>
            <td><span class="pull-right">{{ orders_debet }}</span></td>
        </tr>
        <tr>
            <td><span>Принятых</span></td>
            <td><span class="pull-right">{{ accept_orders.count }}</span></td>
            <td><span class="pull-right">{{ accept_orders_summ }}</span></td>
            <td><span class="pull-right">{{ accept_orders_payment }}</span></td>
            <td><span class="pull-right">{{ accept_orders_debet }}</span></td>
        </tr>
        <tr>
            <td><span>Закрытых</span></td>
            <td><span class="pull-right">{{ close_orders.count }}</span></td>
            <td><span class="pull-right">{{ close_orders_summ }}</span></td>
            <td><span class="pull-right">{{ close_orders_payment }}</span></td>
            <td><span class="pull-right">{{ close_orders_debet }}</span></td>
        </tr>
        <tr>
            <td><span>Отменённых</span></td>
            <td><span class="pull-right">{{ cancel_orders.count }}</span></td>
            <td><span class="pull-right">{{ cancel_orders_summ }}</span></td>
            <td><span class="pull-right">{{ cancel_orders_payment }}</span></td>
            <td><span class="pull-right">{{ cancel_orders_debet }}</span></td>
        </tr>
        
        <tr><th colspan="5"><div align="center">Счета</div></th></tr>
        <tr>
            <td><span>Всего</span></td>
            <td><span class="pull-right">{{ invoices.count }}</span></td>
            <td><span class="pull-right">{{ invoices_summ }}</span></td>
            <td><span class="pull-right">{{ invoices_payment }}</span></td>
            <td><span class="pull-right">{{ invoices_debet }}</span></td>
        </tr>
        <tr>
            <td><span>Оплаченных полностью</span></td>
            <td><span class="pull-right">{{ payment_invoices.count }}</span></td>
            <td><span class="pull-right">{{ payment_invoices_summ }}</span></td>
            <td><span class="pull-right">{{ payment_invoices_payment }}</span></td>
            <td><span class="pull-right">{{ payment_invoices_debet }}</span></td>
        </tr>
        <tr>
            <td><span>Оплаченных частично</span></td>
            <td><span class="pull-right">{{ avance_invoices.count }}</span></td>
            <td><span class="pull-right">{{ avance_invoices_summ }}</span></td>
            <td><span class="pull-right">{{ avance_invoices_payment }}</span></td>
            <td><span class="pull-right">{{ avance_invoices_debet }}</span></td>
        </tr>
        <tr>
            <td><span>Неоплаченных</span></td>
            <td><span class="pull-right">{{ notpay_invoices.count }}</span></td>
            <td><span class="pull-right">{{ notpay_invoices_summ }}</span></td>
            <td><span class="pull-right">{{ notpay_invoices_payment }}</span></td>
            <td><span class="pull-right">{{ notpay_invoices_debet }}</span></td>
        </tr>
        
    </tbody>
</table>

{% endblock %}


