{% extends 'base.html' %}
{% comment %}<!--
###############################################################################
# Copyright 2012 Grigoriy Kramarenko.
###############################################################################
# This file is part of Barbaris.
#
#    Barbaris is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    Barbaris is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with Barbaris.  If not, see <http://www.gnu.org/licenses/>.
#
# Этот файл — часть Barbaris.
#
#   Barbaris - свободная программа: вы можете перераспространять ее и/или
#   изменять ее на условиях Стандартной общественной лицензии GNU в том виде,
#   в каком она была опубликована Фондом свободного программного обеспечения;
#   либо версии 3 лицензии, либо (по вашему выбору) любой более поздней
#   версии.
#
#   Barbaris распространяется в надежде, что она будет полезной,
#   но БЕЗО ВСЯКИХ ГАРАНТИЙ; даже без неявной гарантии ТОВАРНОГО ВИДА
#   или ПРИГОДНОСТИ ДЛЯ ОПРЕДЕЛЕННЫХ ЦЕЛЕЙ. Подробнее см. в Стандартной
#   общественной лицензии GNU.
#
#   Вы должны были получить копию Стандартной общественной лицензии GNU
#   вместе с этой программой. Если это не так, см.
#   <http://www.gnu.org/licenses/>.
###############################################################################

-->{% endcomment %}

{% load i18n base_extras %}

{% block page_name %}Счета{% endblock %}

{% block subnav_content %}
{% include "includes/_subnav_date_filter.html" %}
<li class="dropdown {% subnavactive request 'state' %}">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Статус <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li class="{% subnavactive request 'state' 0 %}">
            <a href="{% addGET request 'state' 0 %}">Любой</a>
        </li>
        <li class="divider"></li>
    {% for state, display in stats %}
        <li class="{% subnavactive request 'state' state %}">
            <a href="{% addGET request 'state' state %}">{{ display }}</a>
        </li>
    {% endfor %}
    </ul>
</li>
{% subnav_filter request 'invoice_list' %}
{% endblock %}

{% block content %}
{% if paginator %}
<table id="table-specifications" class="table table-condensed">
    <thead>
        <tr>
            <th class=""><span>№</span></th>
            <th class=""><span>Клиент</span></th>
            <th class=""><span>Организация</span></th>
            <th class=""><span>Дата</span></th>
            <th class=""><span>Комментарий</span></th>
            <th class="input-mini"><span class="pull-right">Сумма</span></th>
            <th class="input-mini"><span class="pull-right">Оплата</span></th>
            <th class=""><span>Статус</span></th>
            <th class=""><span>Оператор</span></th>
            <th class=""><span class="pull-right">Действия</span></th>
        </tr>
    </thead>
    <tbody>
    {% for invoice in paginator.object_list %}
        <tr id="invoice_{{ invoice.id }}">
            <td><span>{{ invoice.id }}</span></td>
            <td><span>{{ invoice.client }}</span></td>
            <td><span>{{ invoice.client.detail.org|default:'' }}</span></td>
            <td><span>{{ invoice.date|date:'Y-m-d' }}</span></td>
            <td><span>{{ invoice.comment }}</span></td>
            <td><span class="pull-right">{{ invoice.summa }}</span></td>
            <td><span class="pull-right">{{ invoice.payment }}</span></td>
            <td><span>{{ invoice.get_state_display }}</span></td>
            <td><span>{% short_username invoice.user %}</span></td>
            <td><span class="pull-right">
                <a href="{% url order_detail invoice.order.id %}">
                    <i class="icon-file" title="Перейти к заказу"></i>
                </a>
                <a href="{% url invoice_print invoice.id %}">
                    <i class="icon-print" title="Печать"></i>
                </a>
                </span>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}


