{% extends 'base.html' %}
{% comment %}<!--
###############################################################################
# Copyright 2012 Grigoriy Kramarenko.
###############################################################################
# This file is part of Barbaris.
#
#    Barbaris is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    Barbaris is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with Barbaris.  If not, see <http://www.gnu.org/licenses/>.
#
# Этот файл — часть Barbaris.
#
#   Barbaris - свободная программа: вы можете перераспространять ее и/или
#   изменять ее на условиях Стандартной общественной лицензии GNU в том виде,
#   в каком она была опубликована Фондом свободного программного обеспечения;
#   либо версии 3 лицензии, либо (по вашему выбору) любой более поздней
#   версии.
#
#   Barbaris распространяется в надежде, что она будет полезной,
#   но БЕЗО ВСЯКИХ ГАРАНТИЙ; даже без неявной гарантии ТОВАРНОГО ВИДА
#   или ПРИГОДНОСТИ ДЛЯ ОПРЕДЕЛЕННЫХ ЦЕЛЕЙ. Подробнее см. в Стандартной
#   общественной лицензии GNU.
#
#   Вы должны были получить копию Стандартной общественной лицензии GNU
#   вместе с этой программой. Если это не так, см.
#   <http://www.gnu.org/licenses/>.
###############################################################################

-->{% endcomment %}

{% load i18n base_extras %}

{% block title %}{{ block.super }} - Заказ №{{ order.id }} от {{ order.created }}{% endblock %}

{% block page_name %}{% endblock %}

{% block search %}{% endblock %}

{% block subnav_content %}
<li>
    <a href="#header">Просмотр заказа</a>
</li>
<li>
    <a href="#categories">Прайс-лист</a>
</li>
<li>
    <a href="#clients">Клиенты</a>
</li>
{% if not order.state_close %}
<li>
    <a href="#" data-toggle="_modal_order_divdoc_{{ order.id }}_" class="label{% if order.is_divdoc %} label-warning{% endif %}">Автоделитель</a>
</li>
{% endif %}
{% if order.id %}
    {% if order.state_accept %}
        <li>
            <a href="#" data-toggle="_modal_order_cancel_{{ order.id }}_" class="label label-warning">Отменить</a>
        </li>        
    {% endif %}
    {% if order.state_create %}
        <li>
            <a href="#" data-toggle="_modal_order_delete_{{ order.id }}_" class="label label-important">Удалить</a>
        </li>
        <li>
            <a href="#" data-toggle="_modal_order_accept_{{ order.id }}_" class="label label-success">Принять</a>
        </li>
        
    {% endif %}
{% endif %}
{% endblock %}

{% block content %}

<form class="well form-horizontal" action="" method="post">{% csrf_token %}
    <input type="hidden" name="id" value="{{ order.id }}" />
    <div class="input-append">
        <h3 class="span2">Комментарий</h3>
        <input type="text" value="{{ order.comment }}" class="input-xxlarge"{% if order.state_close %} disabled{% endif %} name="order_comment" id="id_order_comment">
        {% if not order.state_close %}<input type="submit" class="btn" value="Сохранить" />{% endif %}
    </div>
</form>

<div id="specifications" class="row-fluid">
    <div class="well span12">
    {% if order.id %}
        <div class="span10">
            <h3>Заказ №{{ order.id }} от {{ order.created|date:"DATE_FORMAT"}}</h3>
        </div>
        <div class="span2">
            <p class="pull-right">
                <span class="badge
                    {% if order.state_create %} badge-info{% endif %}
                    {% if order.state_accept %} badge-success{% endif %}
                    {% if order.state_close %} badge-inverse{% endif %}
                    ">
                    {{ order.get_state_display|lower }}
                </span>
            </p>
        </div>
        {% include "includes/_order_specifications.html" %}
    {% else %}
        <div class="span12">
            <p class="pull-right"><span class="badge">не сохранён</span></p>
        </div>
    {% endif %}
    </div>
</div>

{% if not order.state_create %}
    <div id="invoices" class="row-fluid">
        <div class="well span12">
            {% include "includes/_order_invoices.html" %}
        </div>
    </div>
    
    <div id="act" class="row-fluid">
        <div class="well span12">
            {% include "includes/_order_acts.html" %}
        </div>
    </div>
{% endif %}

{% if not order.state_close %}
<legend>Прайс-лист</legend>
<div id="categories" class="accordion">
{% for category in categories %}
    <div class="accordion-group">
        <div class="accordion-heading">
            <a href="#category_{{ category.id }}" data-parent="#categories" data-toggle="collapse" class="accordion-toggle">
                {{ category }}
            </a>
        </div>
        <div class="accordion-body collapse" id="category_{{ category.id }}" style="height: 0px;">
            <div class="accordion-inner">
                <div id="service_group_{{ category.id }}" class="accordion">
            {% for service in category.service_set.all %}
                {% if service.active_prices %}
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a href="#service_{{ service.id }}" data-parent="#service_group_{{ category.id }}" data-toggle="collapse" class="accordion-toggle">
                                {{ service.title }}
                            </a>
                        </div>
                        <div class="accordion-body collapse" id="service_{{ service.id }}" style="height: 0px;">
                            <div class="accordion-inner">
                                {{ form.media }}
                                {% include "includes/_specification_forms.html" %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>

<legend>Клиенты</legend>
<div id="clients" class="row-fluid">
    <div class="well span6">
        <legend>Поиск клиентов
            <a class="btn pull-right" data-toggle="_modal_client_create_0_" title="Создать нового клиента">
                <i class="icon-plus"></i>
            </a>
        </legend>
        
        <input name="clients" class="search span12" type="text" placeholder="Поиск: Фамилия Имя Отчество или Организация">
        <form action="" method="post" class="form">{% csrf_token %}
            <fieldset></fieldset>
        </form>
    </div>
{% if order.id %}
    {% if order.clients.all %}
    <div class="well span6">
        <legend>Список клиентов в заказе</legend>
        <form action="" method="post" class="form">{% csrf_token %}
            <fieldset>
                <div class="controls ">
                {% for client in order.clients.all %}
                    <label class="checkbox">
                        <input type="checkbox" name="deleteClient" value="{{ client.id }}">
                        <h6>
                            {{ client }}
                            <a href="{% url client_detail client.id %}" title="Редактировать карточку клиента">
                                <i class="icon-edit"></i>
                            </a>
                            <small>{{ client.detail.birth_day|default:"" }}</small>
                        </h6>
                    </label>
                {% endfor %}
                </div>
                <div class="form-actions">
                    <input type="submit" class="btn btn-danger" value="Удалить" />
                </div>
            </fieldset>
        </form>
    </div>
    {% endif %}
{% endif %}
</div>
{% endif %}

{% endblock %}
