{% extends 'base.html' %}
{% comment %}<!--
###############################################################################
# Copyright 2012 Grigoriy Kramarenko.
###############################################################################
# This file is part of Barbaris.
#
#    Barbaris is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    Barbaris is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with Barbaris.  If not, see <http://www.gnu.org/licenses/>.
#
# Этот файл — часть Barbaris.
#
#   Barbaris - свободная программа: вы можете перераспространять ее и/или
#   изменять ее на условиях Стандартной общественной лицензии GNU в том виде,
#   в каком она была опубликована Фондом свободного программного обеспечения;
#   либо версии 3 лицензии, либо (по вашему выбору) любой более поздней
#   версии.
#
#   Barbaris распространяется в надежде, что она будет полезной,
#   но БЕЗО ВСЯКИХ ГАРАНТИЙ; даже без неявной гарантии ТОВАРНОГО ВИДА
#   или ПРИГОДНОСТИ ДЛЯ ОПРЕДЕЛЕННЫХ ЦЕЛЕЙ. Подробнее см. в Стандартной
#   общественной лицензии GNU.
#
#   Вы должны были получить копию Стандартной общественной лицензии GNU
#   вместе с этой программой. Если это не так, см.
#   <http://www.gnu.org/licenses/>.
###############################################################################

-->{% endcomment %}

{% load i18n base_extras %}

{% block title %}{{ block.super }} - Вопрос {% endblock %}

{% block page_name %}{% endblock %}
{% block subnav %}{% endblock %}

{% block content %}
{% if user == question.user %} 
<form class="well" action="" method="post">{% csrf_token %}
    <legend>Вопрос от пользователя {% short_username question.user %}</legend>
    <fieldset>
        {% for field in form_question %}
        <div class="control-group">
            <label class="control-label" for="id_{{ field.html_name }}">{{ field.label }}</label>
            <div class="row-fluid">
            {{ field }}
            {{ field.errors }}
            </div>
        </div>
        {% endfor %}
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Задать" />
        </div>
    </fieldset>
</form>
{% else %}
<h3>Вопрос</h3>
<div class="well">
    <legend>Вопрос от пользователя {% short_username question.user %}</legend>
    <p>{{ question.text }}</p>
</div>
{% endif %} 

{% if form_answer %}
<form class="well" action="" method="post">{% csrf_token %}
    <legend>Новый ответ</legend>
    <fieldset>
        {% for field in form_answer %}
        <div class="control-group">
            <label class="control-label" for="id_{{ field.html_name }}">{{ field.label }}</label>
            <div class="row-fluid">
            {{ field }}
            {{ field.errors }}
            </div>
        </div>
        {% endfor %}
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Ответить" />
        </div>
    </fieldset>
</form>

<h3>Ответы</h3>
{% for answer in question.answer_set.all %}
    <div class="well">
        <h6>{% short_username question.user %} <small>( {{ answer.created|date:"DATETIME_FORMAT" }} )</small></h6>
        <p>{{ answer.text }}</p>
    </div>
{% endfor %}

{% endif %} 

{% endblock %}


